@import '../packages/bootstrap/less/bootstrap.less';
@import 'mixins.less';

body {
  padding-top: 70px;
}

form {
  .caption {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  &.signup {
    .bordered-form(450px);
  }
}