@import '../packages/bootstrap/less/mixins.less';

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-left-radius(@radius);
  .border-bottom-radius(@radius);
}

.bordered-form(@max-width) {
  max-width: @max-width;
  margin: 0 auto;
  padding: 20px;
  .box-shadow(#888 0 0 5px);
  .border-radius(5px);
}

.thumb(@max-width) {
  margin:auto;
  margin-bottom:10px;
  max-width: @max-width;
  @media (min-width: @screen-sm) {
    margin:0;
    margin-bottom:10px;
    max-width: @max-width;
  }
}